# Prerequisites
*.d
.history

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# IR
*.bc
*.ll
*.s


# Compiled Dynamic libraries
*.so
*.dylib
*.dll


# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
program
*.exe
*.out
*.app# Build directory
build/

# build
CMakePresets.json

# 构建的临时文件
recovered_source.*

# 日志
logs/*
Compile.log
